<div>
  <h3>Articles</h3>

  <p>
    <%#= link_to 'New Article', new_article_path, class: 'btn btn-success', 'data-toggle': 'modal', 'data-target': '#newModal', remote: true %>
    <%= button_tag 'New Article', type: 'button', class: 'btn btn-success', 'data-toggle': 'modal', 'data-target': '#newModal', onclick: 'newArticle()' %>
  </p>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
      <% articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td>
            <%#= link_to 'Show', article, class: 'btn btn-info' %>
            <%= button_tag 'Show', type: 'button', class: 'btn btn-info', 'data-toggle': 'modal', 'data-target': '#showModal', onclick: "showArticle(#{article.id})" %>
          </td>
          <td>
            <%#= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning' %>
            <%= button_tag 'Edit', type: 'button', class: 'btn btn-warning', 'data-toggle': 'modal', 'data-target': '#editModal', onclick: "editArticle(#{article.id})" %>
          </td>
          <td><%= link_to 'Destroy', article, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
